.page-header {
  position: absolute;
  z-index: 4;
  width: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
}
.page-header__wrapper {
  @include section-width;
  @include paddings;
  @include centers;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media #{$max-mobile-width} {
    padding-top: 23px;
  }
  @media #{$min-tablet-width} {
    padding-top: 25px;
  }
  @media #{$min-desktop-width} {
    padding-top: 57px;
  }
}
.page-header__logo-link {
  flex-shrink: 0;
  @media #{$max-mobile-width} {
    width: 82px;
  }
  @media #{$min-tablet-width} {
    width: 105px;
  }
  @media #{$min-desktop-width} {
    width: 158px;
  }
}
.page-header__burger-btn {
  @media #{$max-mobile-width} {
    background-size: 20px auto !important;
  }
  @media #{$max-tablet-width} {
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: 0 solid transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px auto;
    background-image: url("/img/burger.svg");
    font-size: 0;
  }
  @media #{$min-desktop-width} {
    display: none;
  }
}