.question {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-image: url("/img/question-bg.jpg");
}
.question__wrapper {
  @include section-width;
  @include paddings;
  @include centers;
  @media #{$max-mobile-width} {
    padding-top: 83px;
    padding-bottom: 254px;
  }
  @media #{$min-tablet-width} {
    padding-top: 115px;
    padding-bottom: 88px;
  }
  @media #{$min-desktop-width} {
    padding-top: 160px;
    padding-bottom: 75px;
  }
}
.question__container {
  @media #{$tablet-width-only} {
    padding-right: 320px;
  }
  @media #{$min-desktop-width} {
    padding-right: 770px;
  }
}
.question__title {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: none;
  @media #{$max-mobile-width} {
    font-size: 20px;
  }
  @media #{$min-tablet-width} {
    font-size: 30px;
  }
  @media #{$min-desktop-width} {
    font-size: 36px;
  }
}
.question__description {
  display: block;
  @media #{$max-mobile-width} {
    font-size: 13px;
    line-height: 17px;
    margin-top: 7px;
  }
  @media #{$min-tablet-width} {
    font-size: 18px;
    line-height: 23.5px;
    margin-top: 15px;
  }
}
.question__button-container {
  @media #{$max-mobile-width} {
    max-width: 288px;
    @include centers;
    margin-top: 40px;
  }
  @media #{$min-tablet-width} {
    max-width: 338px;
    margin-top: 55px;
  }
}
.question__button {
  @include main-btn;
}